fieldset{
    height: 300px;
    width: 400px;
    margin-top: 100px;
   margin-left: 550px; 
}
legend{
    text-align: center;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: 20px;
}
input{
    height: 20px;
    width: 200px;
}

#clr,#log{
    height: 30px;
    width: 150px;
}
h1{
    text-align: center;
    margin-top: 50px;
}
body{
    background-image:url("D:\image2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}